//COLORS
$color-primary: #3EAA95;
$color-primary-light: #44BBA4;
$color-primary-dark: #338D7B;

$color-secondary: #576272;
$color-secondary-light: #7392B7;

$color-tertiary: #49705F;
$color-tertiary-dark: #4C6958;

$color-accent-light: #EBDCCB;
$color-accent-dark: #3B322C;

$color-white: #ebebeb; 
$color-black: #0e1111; 

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray: #777;
$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

$color-random: red;