.icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: $color-primary;

  &--nav {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 0.5rem;
  }

  &--edit {
    height: 2rem;
    width: 2rem;
    fill: $color-white;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--trash {
    height: 2rem;
    width: 2rem;
    fill: $color-white;
    margin-left: 2rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--add {
    height: 1rem;
    width: 1rem;
    fill: $color-accent-light;
    margin-right: 1rem;
  }

  &--identified-true {
    height: 1.75rem;
    width: 1.75rem;
    fill: $color-gray-light-1;
    margin-left: 1rem;
  }

  &--identified-false {
    height: 1.75rem;
    width: 1.75rem;
    fill: red;
    margin-left: 1rem;
    padding-top: 4px;
  }

  &--identified-page-true {
    height: 1.75rem;
    width: 1.75rem;
    fill: $color-primary-dark;
    margin-left: 1rem;
  }

  &--identified-page-false {
    height: 1.75rem;
    width: 1.75rem;
    fill: red;
    margin-left: 0.75rem;
    padding-top: 4px;
  }

  &--edit-comment {
    height: 2rem;
    width: 2rem;
    fill: $color-primary-light;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--trash-comment {
    height: 2rem;
    width: 2rem;
    fill: $color-accent-dark;
    margin-left: 2rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--send-comment {
    fill: $color-accent-dark;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
