.link {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    $color-gray-light-1,
    $color-gray-light-2
  );
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    transform: translateY(-3px);
    text-shadow: 0 1rem 1rem rgba($color-black, 0.25);
  }

  &:active {
    transform: translateY(0);
    text-shadow: 0 1rem 1rem rgba($color-black, 0.25);
  }
}
