.sighting-page {
  // max-width: 85rem;
  // float: right;

  &__image {
    background-image: contain;
    background-size: cover;
    width: 40rem; 
    margin: 2rem 0; 

  }
}

  .comment-container {
    display: block;
    
    &__box{
      background-image: url(./imgs/so-white.png);
      color: $color-black;
      max-height: 40vh;
      overflow: scroll;
      overflow-x: hidden;
      width: auto; 
      border: 2px solid $color-gray-dark-2;
      margin: 2rem; 
      text-align: left;
  }

}

.textarea {
  width: 60rem;
	height: 12rem;
	border: 3px solid #cccccc;
  padding: 5px;
  background-image: url(./imgs/so-white.png);
  font-family: inherit;
}

.info {
  background-image: linear-gradient(to left bottom, 
                                    rgba($color-primary-light, 0.6), 
                                    rgba($color-primary-dark, 0.8));
  width: 40%;
  float: right;
  padding: 0 2rem 5rem 2rem;
}