@keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #ebebeb;
  text-transform: lowercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 1.5rem;
    animation-name: tilt-in-top-1;
    animation-duration: 1.2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .5rem;
    animation-name: tilt-in-bottom-1;
    animation-duration: 1.2s;
    animation-timing-function: ease-out; }

.heading-sighting {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #576272, #333);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(14, 17, 17, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .heading-tertiary--no-margin {
    margin-bottom: 0;
    margin-top: 0; }

.heading-small {
  font-size: 1.6rem;
  font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-medium {
  margin-left: 9rem !important; }

.btn {
  border-radius: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  background-color: #49705F;
  color: #EBDCCB;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem; }
  .btn:hover {
    background-color: #4C6958;
    color: #EBDCCB;
    box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.4);
    transform: translateY(-2px); }
  .btn:active {
    box-shadow: 0 1rem 1rem rgba(14, 17, 17, 0.25);
    transform: translateY(0); }
  .btn--small {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem; }

.nav {
  flex: 0 0 24%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
  align-content: center;
  height: 90vh;
  padding: 4rem; }
  .nav__link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .nav__link {
    margin-bottom: 3rem;
    color: #3EAA95;
    text-decoration: none; }
    .nav__link:hover {
      transform: translateY(-3px);
      color: #44BBA4; }
    .nav__link:active {
      transform: translateY(0);
      color: #338D7B; }
  .nav__logout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40rem; }

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  flex: 0 1 40%;
  transform-style: preserve-3d;
  height: 55rem;
  margin-top: 3rem; }
  .card__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 55rem; }
  .card__side {
    height: inherit;
    transition: all .8s ease;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(14, 17, 17, 0.15);
    display: flex;
    flex-direction: column; }
    .card__side--front {
      background-color: #eee; }
    .card__side--back {
      background-color: #ebebeb;
      transform: rotateY(180deg);
      background-image: linear-gradient(to left bottom, rgba(68, 187, 164, 0.6), rgba(51, 141, 123, 0.8));
      display: flex;
      flex-direction: column;
      padding: 1rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    background-image: contain;
    background-size: cover;
    height: 45rem; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(68, 187, 164, 0.8), rgba(51, 141, 123, 0.8)), url(./imgs/header.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  display: flex; }
  .header__text-box {
    position: absolute;
    top: 65%;
    left: 5%; }
  .header__buttons {
    position: absolute;
    top: 10%;
    left: 5%; }

.auth-form-container {
  background-image: linear-gradient(to right bottom, rgba(62, 170, 149, 0.8), rgba(51, 141, 123, 0.8));
  height: 90vh; }

.auth-form {
  width: 70vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .auth-form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .auth-form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(235, 235, 235, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    margin-left: 7rem; }
    .auth-form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.1);
      border-bottom: 3px solid #576272; }
    .auth-form__input:focus:invalid {
      border-bottom: 3px solid #49705F; }
    .auth-form__input::-webkit-input-placeholder {
      color: #333; }
  .auth-form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .auth-form__input:placeholder-shown + .auth-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
